@use "src/styles/mixins.scss";

.landing_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px;
  align-content: space-around;
  @include mixins.phone {
    margin: 20px;
  }
  img {
    width: 96%;
    height: 100%;
    position: relative;
    overflow: hidden;
    object-fit: cover;
    border-radius: 15px;
    object-position: 100% 80%;
  }
  button {
    border-radius: 70px;
    border: none;
    padding: 12px;
    padding-left: 19px;
    padding-right: 19px;
    color: #1b044e;
    background-color: #f47f8f;
    font-size: medium;
    @include mixins.phone {
      display: none;
    }
  }
  button:hover {
    background-color: #e6bf1d;
    @include mixins.phone {
      display: none;
    }
  }
}
.landing_center {
  margin-top: 80px;
  // align-items: center;
  text-align: center;
  @include mixins.phone {
    margin: 20px;
  }
}
.gaegu_regular {
  font-family: "Gaegu", sans-serif;
  font-weight: 400;
  font-style: normal;
  p {
    font-size: large;
  }
}
