@use "src/styles/mixins.scss";

@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');

  .footer {
    font-family: 'Gaegu';
    height: auto;
    width: auto;
    flex-direction: column;
  }

  .footerTop {
    background-color: rgb(2,39,81);
    width: 1440px;
    height: 336px;
    p, h1, a{
        color: white;
    }
    position: relative;
  }

  .footerContent{
    position: absolute;
    left: 40px;
    top: 58.5px;

    display: flex; //test if its doing anything
    gap: 68px; //same here
  }

  .contact {
    display: flex;
    position: absolute;
    flex-direction: column;
    gap: 16px;
  }

  .emailFrame{
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .linksOuterFrame{
    display: flex;
    flex-direction: row;

    position: relative;
    left: 292px;
  }

  .linksInnerFrame{
    display: flex;
    position: absolute;
    font-size: 24px;
    line-height: 140%;
  }

  .linksRight{
    display: flex;
    flex-direction: column;

    position: absolute;
    gap: 18px;
    left: 225px;
    width: 150px;
    height: auto;
  }

  .linksLeft{
    display: flex;
    flex-direction: column;
    
    gap: 18px;
    width: 165px;
    height: auto; //not needed curerntly
  }

  .link{
    margin-bottom: 20px;
  }
  
  //newsletter
  .newsletter{
    position: relative;
    top: 49px;
    left: 759px;
    height: 228px; //needs to be auto
    width: 650px;

  }

  .title {
    margin: 10px;
    margin-bottom: 40px;
    line-height: 120%;
    font-weight: bold;
    font-size: 54px;
  }

  .submitButton {
    color: rgb(2,39,81);

    background-color: rgb(244,127,143);
    border-radius: 70px;
    border: none;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    //padding: 12px 24px; not sure what this is doing
    width: 116px; //needs to be auto
    height: 58px; //needs to be auto

    margin: 10px;
     
    font-size: 24px;
    line-height: 140%;
    text-align: center;
  }

  .submitButton:hover {
    background-color: gold
  }
  
  .input{
    color: rgb(2,39,81);

    background-color: rgb(255, 255, 255);
    border-radius: 70px;
    border: none;

    text-align-last: left;
    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 320px;

    margin: 10px;

    width: 460px; //needs to be auto
    height: 58px; //needs to be auto

    font-size: 24px;
    line-height: 140%;
    text-align: left;

    &::placeholder {
      color: rgb(2,39,81);
      opacity: 1;
    }
  }
  
  .input:hover{
    background-color: goldenrod;
  }

//credit
  .footerBottom {
    background-color: rgb(244,127,143);
    width: 1440px;
    height: 64px;
  }  
  
  .creditText {
    color: rgb(64,68,71);
    font-size: 18px;
    padding: 20px;
    padding-left: 40px;
    line-height: 150%;
  }

