@use "src/styles/mixins.scss";
@import 'mixins';


@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');

  .footer {
    font-family: 'Gaegu';
    height: auto;
    width: auto;
    flex-direction: column;
  }

  .footerTop {
    background-color: rgb(2,39,81);
    // width: 100%;
    // height: 10%;
    width: auto; //needs to be auto
    height: 228px;
    p, h1, a{
        color: white;
    }
    position: relative;
  }

  .footerContent{
    position: absolute;
    left: 3%;
    top: 8%;

    // display: flex; //test if its doing anything
    // gap: 68px; //same here
  }

  //contact

  .contact {
    display: flex;
    position: absolute;
    flex-direction: column;
    // gap: 30%;
  }

  .emailFrame{
    display: flex;
    flex-direction: row;
    gap: 5%;
  }

  .icons {
    display: flex;
    flex-direction: row;
    gap: 10%;
  }

  // links
  .linksOuterFrame{
    // display: flex;
    // flex-direction: column;

    position: relative;
    left: 292px;
    @include sm-desktop {
        left: 235px;
    }
  }



  .linksInnerFrame{
    display: flex;
    position: absolute;
    font-size: 24px;
    // line-height: 100%;
  }

  .linksRight{
    display: flex;
    flex-direction: column;

    position: absolute;
    // gap: 14px;
    left: 225px;
    width: 150px;
    height: auto;
    @include sm-desktop {
      left: 205px;
    }
  }

  .linksLeft{
    display: flex;
    flex-direction: column;
    
    // gap: 14px;
    width: 165px;
    height: auto; //not needed curerntly
  }

  .link{
    margin-bottom: 20px;
  }
  
  //newsletter
  .newsletter{
    display: flex;
    position: relative;
    // top: 49px;
    left: 759px;

    flex-direction: column;
    gap: 40px;
    text-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 65%;
    @include sm-desktop {
      left: 650px;
      width: 45%;
      gap: 20px;
    }
  }

  .title {
    line-height: 100%;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    // text-wrap: wrap;
    @include sm-desktop {
      font-size: 28px;
    }
  }

  .interactive {
    display: flex;
    gap: 2%;
  }

  .submitButton {
    color: rgb(2,39,81);

    background-color: rgb(244,127,143);
    border-radius: 70px;
    border: none;

    padding: 12px 24px;
    width: auto; //needs to be auto
    height: auto; //needs to be auto
     
    font-size: 18px;
    line-height: 100%;
  }

  .submitButton:hover {
    background-color: gold
  }

  .inputWrapper {
    display: flex;
    position: relative;
    padding: 12px 320px 24px 12px;
    background-color: white;
    border-radius: 70px;
    border: none;
    height: 100%;
    width: 35%;
    @include sm-desktop {
        padding: 12px 200px 24px 12px;
        gap: 20px;
    }
  }
  
  .input{
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;

    padding-left: 24px;

    width: 100%;
    height: 100%;
    color: rgb(2,39,81);
    background: none;
    border-radius: 70px;
    border: none;

    outline: none;


    font-size: 24px;
    line-height: 140%;

    &::placeholder {
      color: rgb(2,39,81);
      opacity: 1;
    }

    &:hover{
      background-color: goldenrod;
    }
  }

//credit
  .footerBottom {
    background-color: rgb(244,127,143);
    width: 100%;
    height: 64px;
  }  
  
  .creditText {
    color: rgb(64,68,71);
    font-size: 18px;
    padding: 20px;
    padding-left: 40px;
    line-height: 150%;
  }

