@use "src/styles/mixins.scss";



#contact-us{
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    
}
.main{
    background-color: #d9d9d9;
}


.contactTitle{
    font-size: 40px;
    align-items: center;
}


.contactText{
    font-size: 20px;
    
}
.contactContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    
}


.leftSection{
    flex: 1;
    padding: 20px;
    margin-left: 40px;
    

}

.rightSection{
    flex: 1;
    border: 10px round #afafaf;
    padding: 37px;
    width: 80%;
    height: 70%;
    max-width: 1000px;
    max-height: 800px;
    
  
    border-radius: 15px;
    background-color: #afafaf;
    margin-right: 100px;
    margin-left: -300px;
    


}

.contactForm{
    font-size: 30px;
}



.inputRow{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.inputContainer{
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.inputText {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    word-wrap: break-word;
    resize: none;
}

.nameInput {
    width: 335px;
    padding: 10px;
    margin-top: 5px;
    border-radius: 15px;
    height: 20px;
    border: 1px solid #afafaf;

}

.emailInput {
    width: 335px;
    padding: 10px;
    margin-top: 5px;
    border-radius: 15px;
    height: 20px;
    border: 1px solid #afafaf;


}

.subjectInput {
    width: 97%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 15px;
    border: 1px solid #afafaf;
    height: 20px;
}

.textbookInput{
    display: flex;
    align-items: flex-start;

    width: 100%;
    height: 50vh;
    max-height: 240px;
    border-radius: 15px;
    border: 1px solid #afafaf;
    background-color: white;
    box-sizing: border-box;

}
.textbookInput textarea {
    width: 100%;
    height: 100%;
    border: none;
    padding: 10px;
    resize: none;
    box-sizing: border-box;
    word-wrap: break-word; /* Allow long words to break and wrap */
    overflow-wrap: break-word; /* For older browsers */
    align-items: flex-start; /* Align text to the top */
    vertical-align: top; /* Alternative way to align text to the top */
    line-height: 1.5; /* Adjust line height for better readability */
}

.label{
    font-weight: bold;
    font-size: 19px;
}
