@use "src/styles/mixins.scss";


#contact-us{
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    
}
.main{
    background-color: #d9d9d9;
}


.contactTitle{
    font-size: 40px;
    align-items: center;
}


.contactText{
    font-size: 20px;
    
}
.contactContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    
}


.leftSection{
    flex: 1;
    padding: 20px;
    margin-left: 40px;
    

}

.rightSection{
    flex: 1;
    border: 10px round #afafaf;
    padding: 37px;
    width: 80%;
    height: 70%;
    max-width: 1000px;
    max-height: 800px;
    
  
    border-radius: 15px;
    background-color: #afafaf;
    margin-right: 100px;
    margin-left: -300px;
    


}

.contactForm{
    font-size: 30px;
}



.inputRow{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.inputContainer{
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.inputText {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

.nameInput {
    width: 335px;
    padding: 10px;
    margin-top: 5px;
    border-radius: 15px;
    height: 20px;
    border: 1px solid #afafaf;

}

.emailInput {
    width: 335px;
    padding: 10px;
    margin-top: 5px;
    border-radius: 15px;
    height: 20px;
    border: 1px solid #afafaf;


}

.subjectInput {
    width: 97%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 15px;
    border: 1px solid #afafaf;
    height: 20px;
}

.textbookInput{
    width: 97%;
    height: 260px;
    border-radius: 8px;
    border: 1px solid #afafaf;
    background-color: white;

}
.label{
    font-weight: bold;
    font-size: 19px;
}
