{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "next",
    "prettier"
  ],
  "plugins": ["prettier", "unicorn", "lit-a11y"],
  "rules": {
      "prettier/prettier": [
          "error",
          {
            "bracketSpacing": true,
            "tabWidth": 4,
            "printWidth": 80,
            "useTabs": false,
            "trailingComma": "es5",
            "endOfLine": "auto",
            "semi": true,
            "singleQuote": true
          }
      ],
      "lit-a11y/alt-text": [
          2
      ],
      "arrow-body-style": "off",
      "prefer-arrow-callback": "off",
      "max-lines-per-function": "off",
      "react/no-unescaped-entities": "off",
      "react/no-unknown-property": 2,
      "jest/no-deprecated-functions": "off",
      "react/react-in-jsx-scope": "off",
      "react/require-default-props": "off",
      "no-unused-vars": [
        "error",
        { 
          "vars": "all", 
          "varsIgnorePattern": "^_*$",
          "argsIgnorePattern": "^_*$",
          "destructuredArrayIgnorePattern": "^_*$"
        }
      ],
      "block-spacing": 1
  }
}