@mixin sm-desktop {
  @media screen and (max-width: 1280px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1048px) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: 720px) {
    @content;
    p {
      font-size: medium;
    }
    h1 {
      font-size: xx-large;
    }
    h2 {
      font-size: xx-large;
    }
  }
}

@mixin sm-phone {
  @media screen and (max-width: 540px) {
    @content;
  }
}
