@use "src/styles/mixins.scss";
@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');

.font {
    font-family: 'Gaegu';
    font-size: 32px;
    font-weight: 400;
    font-style: normal;  
    @include mixins.phone {
        font-size: 24px;
    }
}

.header {
    display: flex; 
    padding-right: 2rem;
    padding-left: 1rem;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    width: 100%;
    background-color: #2C3868;
    position: relative; 
}

.globalstyles {
    box-sizing: border-box;
}

.button:hover, .buttonmobile:hover {
    background-color: #E6BF1D;
}

.button, .buttonmobile {
    background-color: #F47F8F;
    color: #022751;
    border-radius: 70px;
    border: none;
    font-family: 'Gaegu';
    font-size: 24px;
    font-weight: 600;
    padding: 14px 24px;
    margin-right: 24px; /* Space between button and hamburger */
}

.logo {
    text-align: left;
    width: 86px;
    height: auto;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav a {
    margin-right: 70px;
    color: #FDFDFD;
    text-decoration: none;
    font-family: 'Gaegu';
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: auto; /* Ensures it is aligned to the right */
}

.hamburger .bar {
    width: 38.57px;
    height: 3px;
    background-color: #F47F8F;
    margin: 4px 0;
    transition: 0.4s;
}

.hamburger.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.hamburger.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-8px, -8px);
}

.nav-links {
    display: flex;
    list-style: none;
    flex-direction: row;
}

.nav-links li {
    margin: 0 1rem;
    @include mixins.phone {
        margin: 1rem 0;
    }
}

.nav-links a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: center; /* Ensure text is centered */
    width: 100%;
}

@media (max-width: 768px) {
    .nav {
        flex-direction: row; /* Align items in a row */
        justify-content: space-between; /* Ensure proper spacing */
    }
    
    .hamburger {
        display: flex;
    }
    
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        height: calc(100vh - 120px); 
        position: absolute;
        top: 120px; 
        left: 0;
        background-color: #2C3868;
        padding: 1rem 0;
        z-index: 10; 
        align-items: center; /* Center align items */
    }
    
    .nav-links.open {
        display: flex;
    }
    
    .nav-links li {
        margin: 1rem 0; 
        width: 100%;
        border-bottom: 2px solid #F47F8F;
        padding-bottom: 24px;
    }
    .nav-links li:first-child {
        border-top: 2px solid #F47F8F;
        padding-top: 24px;
    }
    

    .buttonmobile {
        display: inline-block;
        margin-bottom: 1rem; /* Add margin for spacing */
        margin-left: 60px; /* Align button to the right */
    }
}
