@use "src/styles/mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');

.container {
    display: flex;
    padding: 71.5px 112px; 
    width: 1440px;
    height: 371px;
    background: #F47F8F;
    @include mixins.phone{
        padding: 48px 16px;
        width: 390px;
        height: 678px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

.seccontainer {
    flex-direction: column;
    align-items: center;
    width: 605px;
    height: 228px;
    @include mixins.phone{
        display: flex;
        width: 358px;
        height: 582px;
    }
}

.form {
    display: flex;
    align-items: flex-start;
    @include mixins.phone{
        flex-direction: column;
    }
}

.text {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    width: 606px;
    height: 130px;
    font-family: 'Gaegu', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 120%;
    color: #FFFFFF;
    @include mixins.phone{
        justify-content: center;
        align-items: center;
        font-size: 32px;
        width: 320px;
        height: 120px;
        text-align: center;
    }
}

.button {
    margin-top: 40px;
    background-color: #022751;
    color: white;
    border: none;
    border-radius: 70px; 
    cursor: pointer;
    font-family: 'Gaegu';
    width: 116px;
    height: 58px;
    font-size: 24px;
    @include mixins.phone{
        width: 305px;
        height: 58px;
        font-size: 24px;
    }
}

.button:hover {
    background-color: #ffc107;
}
.form {
    display: flex;
    align-items: center;
}

.input {
    font-family: 'Gaegu';
    font-size: 24px;
    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 40px;
    margin-right: 24px;
    color: black;
    border: 1px solid #6E757B;
    border-radius: 15px;
    width: 460px;
    height: 58px;
    @include mixins.phone{
        margin-right: 0px;
        width: 358px;
        height: 56px;
        font-size: 24px;
        
    }
}

.input:hover {
    background-color: #ffc107;
}

.gaegu-regular {
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.imagecontainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-left: 40px;
    gap: 40px;
    width: 568px;
    height: 228px;
    @include mixins.phone{
        display:none;
        
    }
}

.image {
    width: 161.02px;
    height: 228px;
    border-radius: 0px;
}

.imagecontainermobile {
    display: none;
    @include mixins.phone{
        display: flex;
        gap: 36px;
        margin-top: 40px;
        width: 358.03px;
        height: 228px;
        
        justify-content: center;
        align-items: center;
        
    }
}