@use 'src/styles/mixins.scss';

@import 'mixins';

.board {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 48px 104px 104px 104px;
  font-family: 'Gaegu';
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;

  > h1 {
    color: #2c3868;
    font-size: 72px;
    text-align: center;
    padding-bottom: 15px;
  }

  > p {
    text-align: center;
    font-size: 24px;
  }

  > h2 {
    font-size: 24px;
    padding-bottom: 5px;
    color: #2c3868;
  }

  @include mixins.tablet {
    padding: 24px 24px 104px 24px;
  }

  @include mixins.phone {
    gap: 46px;
    padding: 24px;
  }
}

.image_container {
    width: 100%;
    aspect-ratio: 3;
    position: relative;
}

.heroImg {
  object-fit: cover;
  object-position: center;
  border-radius: 15px;

  @include mixins.sm-phone {
    min-height: 120px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;

  @include mixins.phone {
    gap: 40px;
  }
}

.headerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  > h1 {
    font-size: 4.5rem;

    @include mixins.phone {
      font-size: 4rem;
    }
  }

  > p {
    font-size: 1.5rem;

    @include mixins.phone {
      font-size: 1.125rem;
    }
  }
}

.memberCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 80px;

  width: 100%;

  @include mixins.tablet {
    gap: 40px;
  }

  @include mixins.phone {
    column-gap: 32px;
    row-gap: 64px;
  }
}

.card {
  width: calc(calc(100% - 240px) / 4);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  gap: 24px;

  text-align: center;

  @include mixins.tablet {
    width: calc(calc(100% - 120px) / 4);
  }

  @include mixins.phone {
    width: calc(calc(100% - 128px) / 2);
  }
}

.cardImg {
  width: 240px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;

  @include mixins.tablet {
    width: 140px;
  }

  @include mixins.phone {
    width: 220px;
  }

  @include mixins.sm-phone {
    width: 140px;
  }
}

.cardInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 1.5rem;
  }
}
