@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.intro{
    height: 100%;
    width: 100%;
}

  
.body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Gaegu", sans-serif;
  }
  
.box{
    width: 1216px; 
    height: 550px; 
    background-color: #FFFFFF;
    /* border: 2px solid #333; */
    margin: 0 auto;
    border-radius: 10px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 
  }
  
  .title{
    text-align: center; 
    font-weight: bold;
    font-size: 54px;
    color: #022751;
    padding: 50px;
  }
  
.paragraphscontainer {
    display: flex;
    width: 950px;
    height: 260px;
    margin: 0 auto;
    font-size: 20px;
    color: #404447;
  }
  
.paragraphbox {
    flex: 1; 
    padding: 10px;
  }
  
.button{
    width: 305px;
    height: 58px;
    background-color: #F47F8F;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    border-radius: 29px; 
    font-size: 24px;
    color: #022751;
    border: 0px;
  }

  .button:hover {
    background-color: #E6BF1D;
    transition: 0.2s;
  }