@use 'src/styles/mixins.scss';

// eventSlider
.joinUs {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-family: 'Gaegu', cursive;

  width: 100%;

  @include mixins.phone {
    align-items: center;
    gap: 32px;
  }
}

.header {
  font-size: 3.375rem;
  @include mixins.phone {
    font-size: 2.625rem;
  }
}

.eventContainer {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;

  @include mixins.phone {
    gap: 20px;
  }
}

.eventCards {
  width: 100%;
  display: flex;
  gap: 32px;
  overflow-x: scroll;
  scrollbar-width: none;

  scroll-snap-type: x mandatory;

  @include mixins.phone {
    gap: 20px;
  }
}

.eventCards::-webkit-scrollbar {
  width: 0;
}

// eventsCard
.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  min-width: 318px;
  min-height: 550px;

  background: white;
  border-radius: 15px;
  padding: 16px;

  scroll-snap-align: center;

  @include mixins.phone {
    min-width: 100%;
  }
}

.cardImg {
  width: 100%;
  height: auto;
  max-height: 350px;
  display: flex;
  justify-content: center;

  > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
  }
}

.cardInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cardTitle {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 38.4px */
  color: #2c3868;
}

.cardDescription {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 30px */
  color: #404447;
}
